@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --color-tint: #7360D4;
  --color-tint-dark: #3B3750;

  --color-foreground-primary: #16141F;
  --color-foreground-secondary: #77738C;
  --color-foreground-tertiary: #ADABBA;
  
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #FBFAF9;
  --color-background-tertiary: #EBE8E2;

  --ease-smooth: linear(0, 0.021 2.1%, 0.081 4.5%, 0.468 15.2%, 0.648 21.3%, 0.722 24.5%, 0.783 27.8%, 0.835 31.3%, 0.877 35%, 0.914 39.3%, 0.942 44%, 0.979 55.5%, 0.995 71.3%, 1);

}

html {
  @apply bg-background-secondary text-balance;
}

section {
  /* @apply ring ring-inset; */
}

.container {
  max-width: 1440px;
}

@keyframes slideIn {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
}

